PORT=5000
MONGO_URI=mongodb://localhost:27017/srms
JWT_SECRET=c7855e4b90f698b8c1b0fd523f3b2bfd362614dc76e528ee70eb1e148b1d0e07a08656c94b89d8e0ad9892da6414a5f9967bfc929096fd1450d32b934d37e1c8
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@1234
NODE_ENV=development

# Optional
CLIENT_URL=http://localhost:5173

# Report/PDF metadata
SCHOOL_NAME=J. R. Preparatory School
ACADEMIC_SESSION=2025-26

# Required when using puppeteer-core (set to Chrome/Edge executable)
# Example (Windows):
# PUPPETEER_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
PUPPETEER_EXECUTABLE_PATH=
